<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.tsp.fsm"
    version   = "1.0.0">

<name>Field Service Manager</name>

<description>
Mobile Work Orders and Invoicing
</description>

<author href="https://kennedydesigns.net" email="michael@kennedydesigns.net">
Michael Kennedy
</author>

</widget>
